<% include common/header.ejs %>
<div class="panel panel-default" style="margin-top:80px;">
  	<div class="panel-heading" style="overflow:hidden;line-height: 33px;">关于系统</div>
  	<div class="bs-example" data-example-id="list-group-custom-content">
	<div class="list-group">

	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">开发目的：</h4>
	    <p class="list-group-item-text">解决红包分享维护难度问题！</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">开发版本：</h4>
	    <p class="list-group-item-text">v1.0.0</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">开发功能：</h4>
	    <p class="list-group-item-text">1.提供分享录入功能</p>
	    <p class="list-group-item-text">2.根据模板规则生成静态文件</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">面向用户：</h4>
	    <p class="list-group-item-text">1.录入：产品、编辑</p>
	    <p class="list-group-item-text">2.规则维护：前端开发</p>
	  </a>
	</div>
	</div>
</div>
<% include common/footer.ejs %>