<% include common/header.ejs %>
<div class="panel panel-default" style="margin-top:80px;">
  	<div class="panel-heading" style="overflow:hidden;line-height: 33px;">系统文档</div>
  	<div class="bs-example" data-example-id="list-group-custom-content">
	<div class="list-group">

	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">首页功能：</h4>
	    <p class="list-group-item-text">1.可对文章、栏目、频道id进行查询</p>
	    <p class="list-group-item-text">2.可编辑每条内容</p>
	    <p class="list-group-item-text">3.可进行选择性删除</p>
	    <p class="list-group-item-text">4.推送cdn功能</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">规则功能：</h4>
	    <p class="list-group-item-text">1.对规则进行维护和迭代</p>
	    <p class="list-group-item-text">2.目前支持根据id来录入分享功能</p>
	    <p class="list-group-item-text">2.优先级文章>栏目>频道（录入数据里面有文章的就不会用栏目的更不会用频道的，没有继承关系！所以录入时所有内容都必须填写）</p>
	    <p class="list-group-item-text">3.另有提交规则，生成静态文件，推送cnd功能）</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">文档版本：</h4>
	    <p class="list-group-item-text">v1.0.0</p>
	  </a>
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">面向用户：</h4>
	    <p class="list-group-item-text">1.录入：产品、编辑</p>
	    <p class="list-group-item-text">2.规则维护：前端开发</p>
	  </a>
	</div>
	</div>
</div>
<% include common/footer.ejs %>