*{
	margin: 0;padding: 0;list-style:none;
}
#list{
	overflow:hidden;
}
#list li{
	border-bottom: 1px solid #ccc;
	line-height: 20px;
	text-align: center;
	overflow:hidden;
	display: flex;
}
#list li div{
		width: 8.33%;float: left;
		box-sizing: border-box;
		border-right: 1px solid #ccc;
		height:60px;
		padding-top:10px;
		word-break:break-all;
		flex:1;
}
@media(max-width:850px) {
	#list li{
		padding-bottom: 20px;
		display: initial;
	}
	#list li div{
		width: 100%;float: left;
		height:auto;
	}
	#list li div.mediahide{
		display: none;
	}
	#list .title{
		display:none;
	}
}